body {
    background-color: black;
    text-align: center;
    font-family:Verdana, sans-serif;
}

.header--main {
    color:white;
    font-weight: normal;
    font-size: 50px;
}

p {
    font-size: 16px;
    color: aquamarine;
}